---
layout: main
---

<article class="article-page">

  <div class="page-content">

    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img
          class="page-image"
          data-noys-parallax
          src="{{ page.img | prepend: '/assets/img/' | relative_url }}"
          alt="{{ page.title }}"
        >

        {% if page.fig-caption %}
        <figcaption>
          {{ page.fig-caption }}
        </figcaption>
        {% endif %}
      </figure>
    </div>
    {% endif %}


    <div class="wrap-content">

      <header class="header-page">

        <h1 class="page-title">
          {{ page.title }}
        </h1>

        <div class="page-date">
          <span>
            {{ page.date | date: '%Y/%m/%d' }}
          </span>
        </div>

      </header>


      <div class="post-markdown-body">
        {{ content }}
      </div>


      {% assign noys_channel_id = page.podcast_channel_id | default: page.podcast_id %}
      {% if noys_channel_id %}
      <div class="embed-section">
        <h3 class="embed-section-title">🎧 نسخه صوتی پادکست</h3>
        <div class="podcast-container">
          {% if page.podcast_episode_id and page.podcast_episode_id != "" %}
          <iframe
            src="https://castbox.fm/app/castbox/player/id{{ noys_channel_id }}/id{{ page.podcast_episode_id }}?v=8.22.11&autoplay=0&hide_list=1"
            frameborder="0"
            width="100%"
            height="180"
            title="پخش‌کننده پادکست NOYS"
          ></iframe>
          {% else %}
          <iframe
            src="https://castbox.fm/app/castbox/player/id{{ noys_channel_id }}?v=8.22.11&autoplay=0"
            frameborder="0"
            width="100%"
            height="180"
            title="پخش‌کننده پادکست NOYS"
          ></iframe>
          <p class="podcast-player-note">
            ⚠️ آیدی اختصاصی این اپیزود ثبت نشده، پس فعلاً کل کانال پخش می‌شه.
            آیدی اپیزود رو از دکمه‌ی Share همین اپیزود در کست‌باکس بگیر
            و توی فیلد <code>podcast_episode_id</code> این پست بذار.
          </p>
          {% endif %}
        </div>
      </div>
      {% endif %}


      <div class="page-footer">

        <div class="page-share">

          <span>
            اشتراک‌گذاری:
          </span>

          <a
            href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="توییتر"
            rel="nofollow"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>

          <a
            href="https://telegram.me/share/url?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text={{ page.title | url_encode }}"
            title="تلگرام"
            rel="nofollow"
            target="_blank"
          >
            <i class="fa fa-paper-plane"></i>
          </a>

        </div>


        <div class="page-tag">

          {% for cat in page.categories %}

          <a
            href="{{ site.baseurl }}/categories#{{ cat }}"
            class="tag"
          >
            &#35; {{ cat }}
          </a>

          {% endfor %}

        </div>

      </div>


      {% unless page.hide-newsletter %}
      <div class="footer-subscription">

        <h3>عضویت در خبرنامه NOYS</h3>

        <p class="newsletter-description">
          داستان‌ها و پرونده‌های جدید را مستقیم در ایمیل‌تان دریافت کنید.
        </p>

        <div class="substack-wrapper">
          <iframe
            src="https://noysdc.substack.com/embed"
            width="480"
            height="320"
            style="border: 1px solid #EEE; background: white;"
            frameborder="0"
            scrolling="no"
            title="عضویت در خبرنامه NOYS"
          ></iframe>
        </div>

      </div>
      {% endunless %}


      {% include disqus.html %}

    </div>

  </div>

</article>
